body {
  background-color: #ece6e6;
}

.top-nan {
  position: absolute;
  width: 1440px;
  height: 72px;
}

.item_nav {
  display: flex;
  flex-direction: column;
}

.logo {
  font-style: normal;
}

@media (min-width: 375px) {
  .item_nav {
    display: flex;
    flex-direction: row;
  }
}
