body{
  background-color: #ece6e6;
}
.top-nan{
  position: absolute;
  width: 1440px;
  height: 72px;
}
.item_nav{
  display: flex;
  flex-direction: row;

}
.logo{
  font-family: 'Poppins';
  font-style: normal;
}
@media(min-width:375px) {
  body{
    background-color: #f37076;
  }
}
